numpy<2
Pillow
huggingface_hub
einops
safetensors
opencv-python
scipy
tqdm
hydra-core
omegaconf
accelerate
requests
trimesh
matplotlib
onnxruntime
open3d
plyfile
gradio
viser
pycolmap>=3.10.0
pydantic
pyceres
scikit-image
scikit-learn
evo
git+https://github.com/jytime/LightGlue.git#egg=lightglue
